.topLeftt{
    text-align: left;
    margin-left: .5;
    margin-top: .5;
}
.topRight{
    margin-top: .5;
    text-align: right;
    margin-right: .5;
}
.google{
    margin-left: 300px;
    margin-top: 150px;
}
.search{
    margin-left: 500px;
}
.buttons{
    margin-left: 475px;
}